@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Poiret+One&display=swap');

/* General rules  */
* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  background-color: #fafafa;

  color: #303030;
}

img {
  max-width: 100%;
}

button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

/* Global Styles  */

.container {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
}

.button-action {
  background-color: #303030;
  color: #fff;
  padding: 1rem 3rem;
  text-transform: uppercase;
  border-radius: 5px;
  margin: 2rem 0;
}
@media (min-width: 425px) {
  .button-action {
    max-width: 280px;
  }
}

.col-2 {
  width: 17%;
  padding: 5px;
}

.col-4 {
  width: 33%;
  padding: 5px;
}

.col-6 {
  width: 50%;
  padding: 5px;
}

/* Topbar  */

.topbar {
  padding: 1rem 0;
  margin-top: 0;
  width: 100vw;

  position: fixed;
  z-index: 5;

  background-color: #ffffff;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}

.topbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar__title {
  font-family: 'Poiret One', serif;
  width: 40%;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: -0.05em;
}

.topbar__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar__icon {
  width: 1.7rem;
  height: 1.7rem;

  box-sizing: content-box;
  padding: 0.2rem;
}

.topbar__search {
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
}

.topbar__shoppingCart {
  margin-left: 1.5rem;
  display: block;
  position: relative;
}

.topbar__counter {
  position: absolute;
  top: 1.2rem;
  right: 0px;

  font-size: 0.7rem;
  font-weight: 700;

  color: #fff;
  background-color: #d20a82;

  border-radius: 50%;
  padding: 0.2rem;
}

.topbar__counter--isEmpty {
  display: none;
}

/* Footer  */

.footer {
  background-color: #303030;
  color: #fff;
  padding: 1rem 0 0.5rem;

  margin-top: 5rem;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.footer__text {
  font-size: 0.6rem;
  font-weight: 300;
  letter-spacing: 0.07rem;
}

/* Main Content */

.main-content {
  padding-top: 5rem;
}

/* Home -> Product  */

.main-content .container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.product {
  margin-top: 2rem;
  width: 48%;
  margin-left: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 768px) {
  .product {
    width: 24%;
    height: 100%;
  }
}

.product__image {
  position: relative;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.product__discount {
  position: absolute;
  top: 0;
  right: 0;

  background-color: #303030;
  padding: 0.3rem 0.8rem;

  font-size: 0.6rem;
  font-weight: 400;
  color: #fff;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

@media (min-width: 960px) {
  .product__discount {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    font-weight: 700;
  }
}

.product__desc {
  width: 100%;
  text-align: center;
}

.product__title {
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 0;
}

.product__price {
  display: inline-block;
  font-family: 'Poiret One', serif;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0.2rem 0;
}

.product__price--old {
  font-size: 0.7rem;
  text-decoration: solid line-through #bbbbbb;
}

@media (min-width: 426px) {
  .product__title {
    font-size: 0.85rem;
  }

  .product__price {
    font-size: 1.5rem;
  }

  .product__price--old {
    font-size: 1.2rem;
    text-decoration: line-through #303030;
  }
}

/* Product details page  */

.product-content {
  padding-top: 70px;
}

@media (min-width: 768px) {
  .product-content {
    padding-top: 100px;
  }
}
.product-detail {
  display: flex;
  flex-direction: column;
}

.product-detail__image {
  position: relative;
}

@media (min-width: 600px) {
  .product-detail {
    display: flex;
    flex-direction: row;
  }

  .product-detail__image {
    width: 40%;
    min-width: 250px;
  }
}

.product-detail__image img {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.product-detail__discount {
  position: absolute;
  top: -1rem;
  left: 1.5rem;

  background-color: #303030;
  padding: 0.4rem 0.8rem;

  font-size: 0.9rem;
  font-weight: 700;
  color: #fff;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

@media (min-width: 600px) {
  .product-detail__discount {
    top: 1rem;
    left: inherit;
    right: 0;
  }
}

.product-detail__desc {
  width: 100%;
  padding: 1.5rem;
  position: relative;
}
@media (min-width: 768px) {
  .product-detail__desc {
    max-width: 440px;
  }
}
.product-detail__header {
  margin-bottom: 3rem;
}

.product-detail__title {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .product-detail__title {
    font-size: 1.2rem;
  }
}
.product-detail__installments {
  color: #757575;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
}

@media (max-width: 425px) {
  .product-content .container {
    width: 100vw;
  }
}

.product-detail__options {
  color: #757575;
}

.product-detail__size {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-right: 0.7rem;
  outline: 1px solid rgba(0, 0, 0, 0.1);
}

.product-detail__controls {
  margin-top: 2rem;
}

.product-detail__counter {
  display: flex;
  align-items: center;
}

.product-detail__count {
  /* background-color: blue; */
  width: 30px;
  box-sizing: content-box;
  padding: 0.5rem 0;
}

.product-detail_quantity {
  background-color: #fff;
  text-align: center;
  line-height: 40px;
  margin: 0 0.6rem;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  outline: 1px solid rgba(0, 0, 0, 0.1);
}

/* Shopping cart  */

.shopping-cart .container {
  display: flex;
  flex-direction: column;
  max-width: 768px;
}

.shopping-cart__title {
  font-size: 1rem;
  font-weight: 400;
  padding: 1rem 0 2rem;
}

.shopping-cart__item {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.shopping-cart__thumb img {
  max-height: 150px;
}

.shopping-cart__remove {
  display: block;
  padding: 0.9rem 0;
  font-size: 0.75rem;
  font-weight: 600;
  color: #d20a82;
}
@media (min-width: 425px) {
  .shopping-cart__remove {
    font-size: 1rem;
  }
}

.shopping-cart__subtotal {
  padding: 0.5rem;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 425px) {
  .shopping-cart__subtotal {
    width: 240px;
    padding-right: 0;
  }
}

.shopping-cart__subtitle {
  display: block;
  font-size: 1rem;
  padding: 0.5rem 0;

  font-weight: 600;
}

.shopping-cart__subvalue {
  display: block;
  width: 100%;
  min-width: 160px;
  max-width: 240px;
  padding: 1rem 2rem;
  background-color: #fff;
  outline: 1px solid rgba(0, 0, 0, 0.1);
}

@media (min-width: 425px) {
  .shopping-cart .button-action {
    align-self: flex-end;
  }
}

.search {
  background-color: #fff;
}
